$brand-color-main: #98EA3B;
$light-gray: #CACACA;
$dark-gray: #333333;
$white: #FFFFFF;
$black: #000000;
$dark-primary: #0D1117;
$dark-secondary: #161B22;

$standard-font: 'Roboto';
$max-contain-width: 2000px;
